In [ ]:
import pandas as pd

df_branches = pd.read_csv('../test_data/t_branches.csv')
df_cities = pd.read_csv('../test_data/t_cities.csv')
df_products = pd.read_csv('../test_data/t_products.csv')
df_sales = pd.read_csv('../test_data/t_sales.csv')

In [8]:
df_cities = df_cities.rename(columns={'Unnamed: 0' : 'city_id',
                                      'Ссылка' : 'city_key',
                                      'Наименование' : 'city_name'})

df_sales = df_sales.rename(columns={'Unnamed: 0' : 'sale_id',
                                      'Период' : 'sale_period',
                                      'Филиал' : 'branch_key',
                                      'Номенклатура' : 'product_key',
                                      'Количество' : 'sale_quantity',
                                      'Продажа' : 'sale_price'})

df_branches = df_branches.rename(columns={'Unnamed: 0' : 'branch_id',
                                      'Ссылка' : 'branch_key',
                                      'Наименование': 'branch_name',
                                      'Город' : 'city_key',
                                      'КраткоеНаименование' : 'branch_short_name',
                                      'Регион' : 'branch_region'})

df_products = df_products.rename(columns={'Unnamed: 0' : 'product_id',
                                      'Ссылка' : 'product_key',
                                      'Наименование' : 'product_name'})

In [9]:
df_cities.head()

   city_id                              city_key       city_name
0        0  46fd802b-8b1a-11e0-a305-00155d030b07  Новочебоксарск
1        1  c5073534-0f65-11e0-ae93-001517c526f0       Чебоксары
2        2  ec0027e0-14ab-11e0-9048-001517c526f0    Магнитогорск
3        3  30b7c1ea-03fb-11dc-95ee-00151716f9f5     Владивосток
4        4  30b7c1eb-03fb-11dc-95ee-00151716f9f5       Уссурийск

In [10]:
df_branches.head()

,branch_id,branch_key,branch_name,city_key,branch_short_name,branch_region
0,0,3841b923-ef12-11dc-bced-00151716f9f5,Кра Склад,2b042b0d-c493-11dc-bf69-00151716f9f5,Кра Склад,ДальнийВостокИВосточнаяСибирь
1,1,96fc76b4-7955-49ca-8d34-5b173b6f4b01,Улан-Удэ Корпоратив,4f7a40b0-6b0f-11dc-a590-00151716f9f5,Улан-Удэ Корпоратив,ДальнийВостокИВосточнаяСибирь
2,2,039ae664-7928-4ae4-abd0-935d24d1f642,яКиров Свободы,4186730a-779c-11e0-80d3-001517c526f0,свободы,ВерхнеВолжский
3,3,f60f5d7b-6ed8-431c-a020-ac50d6d8cd7e,яКазань Московский,55506b55-0565-11df-9cf0-00151716f9f5,ДНС Бытовой на Московском,ВерхнеВолжский
4,4,3dff0b25-9a0a-401e-9d05-0334cb21fe42,Белгород ТЦ Пассаж,ec54f012-3053-11e1-ae41-001517c526f0,"ТЦ ""Пассаж""",Черноземье

In [26]:
display(df_products.loc[7, :])

product_id                                                      7
product_key                  c5eaf074-a388-11e0-8987-00155d030b07
product_name    Сумка AirTone AT-W011 Brown, хлопок, коричневы...
Name: 7, dtype: object

In [12]:
df_sales.head()

,sale_id,sale_period,branch_key,product_key,sale_quantity,sale_price
0,0,2012-01-04 18:08:19,7080ffe3-e48e-46ab-882b-47d4d2146737,b90d9481-8766-11e0-bdeb-00155d030b07,1.0,485.0
1,1,2012-01-11 17:17:08,995135eb-2c57-11dd-900f-00151716f9f5,ce106c89-fe54-11de-b2fc-00151716f9f5,1.0,590.0
2,2,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa80-272b-11df-b750-001517c526f1,1.0,95.0
3,3,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa7f-272b-11df-b750-001517c526f1,1.0,95.0
4,4,2012-01-03 14:07:10,8822e357-e9be-4789-8f69-092344105a6b,eac2aa7d-272b-11df-b750-001517c526f1,1.0,95.0

In [18]:
display(len(df_branches.branch_key.value_counts()) == len(df_branches.branch_id.value_counts()))
display(len(df_cities.city_key.value_counts()) == len(df_cities.city_id.value_counts()))
display(len(df_products.product_key.value_counts()) == len(df_products.product_id.value_counts()))

True

True

True